@using System.Globalization
@model IEnumerable<SavingModel>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="text-light fw-bold mb-0">GroupWise Saving</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        @if(Model.Any())
        {
            <a asp-controller="Saving" asp-action="ExportToExcelGroupSaving" class="btn btn-success">
                <i class="bi bi-file-earmark-excel-fill me-1"></i> Export to Excel
            </a>
        }
    </div>
</div>

<div class="mb-3">
    <input type="text" class="form-control" id="savingSearch" placeholder="Search savings">
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle shadow-sm rounded">
    <tr class="table-dark">
        <th>#</th>
        <th>User Name</th>
        <th>Saving Name</th>
        <th>DeadLine</th>
        <th class="text-right">Targeted Amount</th>
        <th class="text-right">Saved Amount</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    @if (Model == null || !Model.Any())
    {
        <tr>
            <td colspan="8" class="text-center text-danger">
                <h6>There is no saving for this group.</h6>
            </td>
        </tr>
    }
    else
    {
        int index = 1;
        @foreach (var saving in Model)
        {
            <tbody id="savingTable">
                <tr>
                    <td>@index</td>
                    <td>@saving.UserName</td>
                    <td>@saving.SavingName</td>
                    <td>@saving.DeadLine.ToString("dd MMM yyyy")</td>
                    <td class="text-success fw-bold text-right">@saving.TargetedAmount.ToString("C", new CultureInfo("en-IN"))</td>
                    <td class="text-primary fw-bold text-right">@saving.SavedAmount.ToString("C", new CultureInfo("en-IN"))</td>
                    @if (saving.Status == "Completed")
                    {
                        <td>
                            <div class="badge badge-outline-success">Completed</div>
                        </td>
                    }
                    @if (saving.Status == "Missed")
                    {
                        <td>
                            <div class="badge badge-outline-danger">Missed</div>
                        </td>
                    }
                    @if (saving.Status == "Pending")
                    {
                        <td>
                            <div class="badge badge-outline-warning">Pending</div>
                        </td>
                    }
                        <td>
                            @if (saving.Status == "Missed" || saving.Status == "Completed")
                            {
                                <button class="btn btn-primary" onclick="addSavedAmount(@saving.SavingID)" disabled>Add Amount</button>
                            }
                            else
                            {
                                <button class="btn btn-primary" onclick="addSavedAmount(@saving.SavingID)">Add Amount</button>
                            }
                        </td>
                </tr>
            </tbody>
            index++;
        }
    }
</table>
</<div>


        <script>
            function addSavedAmount(savingID) {
                Swal.fire({
                    title: 'Add Saved Amount',
                    html: '<input id="SavedAmount" class="form-control bg-light border border-success" placeholder="Enter Saved Amount">',
                    width: '400px',
                    focusConfirm: false,
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    preConfirm: () => {
                        const savedAmount = document.getElementById('SavedAmount').value;

                        if (!savedAmount || isNaN(savedAmount)) {
                            Swal.showValidationMessage('Please enter a valid amount');
                            return false;
                        }

                        // Redirect to the server-side action with the inputs
                        window.location.href = `/Saving/UpdateSavedAmount?savingID=${savingID}&savedAmount=${savedAmount}&flag=${false}`;
                    }
                });
            }
        </script>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#savingSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase().trim();
                $("#savingTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}